<a href="https://colab.research.google.com/github/madhusudhanrao-ppm/devrel-colab/blob/main/dbconnect-v11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Oracle Database Connection with Wallet

Connect to Oracle Autonomous Database using wallet and query the mynotes table.

In [ ]:
!pip install oracledb

Collecting oracledb
  Downloading oracledb-3.4.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (7.7 kB)
Requirement already satisfied: cryptography>=3.2.1 in /usr/local/lib/python3.12/dist-packages (from oracledb) (43.0.3)
Requirement already satisfied: typing_extensions>=4.14.0 in /usr/local/lib/python3.12/dist-packages (from oracledb) (4.15.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography>=3.2.1->oracledb) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.23)
Downloading oracledb-3.4.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 66.8 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-3.4.1

In [ ]:
import os
import oracledb
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

# Connection parameters
#connection_string = "indeducation_high"  # Update with your TNS alias from tnsnames.ora
username = "DEMOUSER"  # Update with your username
password = "Welcome123456#"  # Update with your password
tns_name = "indeducation_high"
wall_config_dir = "/content/drive/MyDrive/Wallet_IndEducation"
wall_pwd = "welcome1"
table = "MYNOTES"
col = "NOTES"
try:
    # Connect to Oracle Database
    conn = oracledb.connect(user=username,
                              password=password,
                              dsn=tns_name,
                              config_dir=wall_config_dir,
                              wallet_location=wall_config_dir,
                              wallet_password=wall_pwd)

    print("✓ Successfully connected to Oracle Database")
except Exception as e:
    print(f"✗ Connection failed: {e}")
    connection = None

✓ Successfully connected to Oracle Database

In [ ]:
# Query mynotes table
if conn:
    try:
        cursor = conn.cursor()

        # Execute query
        query = "select * from MYNOTES where ROWNUM <= 10"
        cursor.execute(query)

        # Fetch all records
        rows = cursor.fetchall()

        # Get column names
        columns = [desc[0] for desc in cursor.description]

        # Create DataFrame for better display
        df = pd.DataFrame(rows, columns=columns)

        print(f"✓ Retrieved {len(df)} records from mynotes table\n")
        print(df.to_string(index=False))

        cursor.close()
    except Exception as e:
        print(f"✗ Query failed: {e}")
else:
    print("✗ No database connection available")

✓ Retrieved 10 records from mynotes table

 ID                                                                       NOTES
  4 Travel to Kashmir was an unforgettable experience with stunning landscapes.
  5                       Hotel Booking in Delhi was confirmed for the weekend.
  6              Arrived in Paris, the Eiffel Tower was breathtaking at sunset.
  7                       Loved the croissants at a tiny bakery near the Seine.
  8                           Tokyo streets are incredibly clean and efficient.
  9                       Central Park was a perfect escape from the city buzz.
 10                       Bangkok night markets are a must‑try for street food.
 11                   Sydney Opera House illuminated at night is unforgettable.
 12                        Rome’s ancient ruins are best explored with a guide.
 13                       Tapas in Barcelona were small but packed with flavor.

In [ ]:
# Close database connection
if conn:
    try:
        conn.close()
        print("✓ Database connection closed")
    except Exception as e:
        print(f"✗ Error closing connection: {e}")

✓ Database connection closed