[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/madhusudhanrao-ppm/devrel-colab/blob/main/dbconnect.ipynb)

# Oracle Database Connection with Wallet

Connect to Oracle Autonomous Database using wallet and query the mynotes table.

In [3]:
import os
import streamlit as st
from langchain.embeddings.huggingface import HuggingFaceEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document
import oracledb

In [10]:
# Connection parameters
#connection_string = "indeducation_high"  # Update with your TNS alias from tnsnames.ora
username = "DEMOUSER"  # Update with your username
password = "Welcome123456#"  # Update with your password 
tns_name = "indeducation_high"   
wall_config_dir = "/Users/madhusudhanrao/Workarea/Wallets_welcome1/Wallet_IndEducation"
wall_pwd = "welcome1" 
table = "MYNOTES"
col = "NOTES"
try:
    # Connect to Oracle Database
    conn = oracledb.connect(user=username, 
                              password=password,
                              dsn=tns_name,
                              config_dir=wall_config_dir,
                              wallet_location=wall_config_dir,
                              wallet_password=wall_pwd)
     
    print("✓ Successfully connected to Oracle Database")
except Exception as e:
    print(f"✗ Connection failed: {e}")
    connection = None

✓ Successfully connected to Oracle Database

In [12]:
# Query mynotes table
if conn:
    try:
        cursor = conn.cursor()
        
        # Execute query
        query = "select * from MYNOTES where ROWNUM <= 10"
        cursor.execute(query)
        
        # Fetch all records
        rows = cursor.fetchall()
        
        # Get column names
        columns = [desc[0] for desc in cursor.description]
        
        # Create DataFrame for better display
        df = pd.DataFrame(rows, columns=columns)
        
        print(f"✓ Retrieved {len(df)} records from mynotes table\n")
        print(df.to_string(index=False))
        
        cursor.close()
    except Exception as e:
        print(f"✗ Query failed: {e}")
else:
    print("✗ No database connection available")

✓ Retrieved 10 records from mynotes table

 ID                                                                       NOTES
  4 Travel to Kashmir was an unforgettable experience with stunning landscapes.
  5                       Hotel Booking in Delhi was confirmed for the weekend.
  6              Arrived in Paris, the Eiffel Tower was breathtaking at sunset.
  7                       Loved the croissants at a tiny bakery near the Seine.
  8                           Tokyo streets are incredibly clean and efficient.
  9                       Central Park was a perfect escape from the city buzz.
 10                       Bangkok night markets are a must‑try for street food.
 11                   Sydney Opera House illuminated at night is unforgettable.
 12                        Rome’s ancient ruins are best explored with a guide.
 13                       Tapas in Barcelona were small but packed with flavor.

In [14]:
# Close database connection
if connection:
    try:
        connection.close()
        print("✓ Database connection closed")
    except Exception as e:
        print(f"✗ Error closing connection: {e}")